[Unit]
Description=Ethereum consensus client
Wants=network-online.target
After=network-online.target


[Service]
Type=simple
User={{ consensus_user }}
Group={{ consensus_group }}
Restart=on-failure
RestartSec=3
KillSignal=SIGINT
TimeoutStopSec=900
WorkingDirectory={{ lodestar_dir }}
ExecStart={{ lodestar_exec }}


[Install]
WantedBy=multi-user.target 