[Unit]
Description=Ethereum execution client
After=network.target
Wants=network-online.target

[Service]
Type=simple
User=execution
Group=execution
Restart=on-failure
RestartSec=3
KillSignal=SIGINT
TimeoutStopSec=900
Environment=RUST_LOG=info
ExecStart={{ execution_exec }}

[Install]
WantedBy=multi-user.target 