[DEFAULT]
ignoreip = {{ fail2ban_ignoreip }}

bantime = {{ fail2ban_bantime }}
findtime = {{ fail2ban_findtime }}
maxretry = {{ fail2ban_maxretry }}
banaction = ufw

[sshd]
backend=systemd
enabled = true
port = ssh
filter = sshd